node_modules/
dist/
.tmp/
.history/
coverage/
build/
.DS_Store
/.env
buildInfo/
.npmrc
reports/
storybook-static/
stats.json
tsconfig.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarnrc.yml